/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: system-ui;
    
}
html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    padding: 1.2vw, 3vw;
    
} */